asgiref           
astroid           
autopep8          
beautifulsoup4    
bs4               
certifi          
chardet           
click             
colorama         
Django            
Flask            
idna             
isort             
itsdangerous      
Jinja2            
lazy-object-proxy 
lxml              
MarkupSafe        
mccabe         
pip              
pycodestyle      
pylint           
pytz             
requests          
setuptools       
six              
soupsieve        
sqlparse        
toml            
urllib3         
Werkzeug       
wrapt             
gunicorn